@import '../../settings.scss';

h1 {
  font-size: 40px;
  color: $primary-color;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  animation-name: color;
  animation-duration: 3s;
}

@keyframes color {
  from { color: transparent; }
  to { color: $primary-color; }
}
