@import '../../settings.scss';

p {
  font-size: 20px;
  animation-fill-mode: backwards;
  animation-name: description;
  animation-duration: 3s;
  animation-delay: 2s;
}

@keyframes description {
  from { color: white; }
  to { color: $secondary-color; }
}
