@import '../../settings.scss';

.MuiGrid-container {
  margin-top: 30px !important;
}

.next {
  font-size: 20px;
  display: inline-block;
  min-width: 70px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: $primary-color;
  padding: 15px 20px;
  animation-fill-mode: backwards;
  animation-name: nextb;
  animation-duration: 2s;

  &:hover {
    background-color: purple;
  }
}

@keyframes nextb {
  from { background-color: white; }
  to { background-color: $primary-color; }
}

.prev {
  font-size: 20px;
  min-width: 70px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: $secondary-color;
  padding: 15px 20px;
  animation-fill-mode: backwards;
  animation-name: prevb;
  animation-duration: 2s;

  &:hover {
    background-color: #333;
  }
}

@keyframes prevb {
  from { background-color: white; }
  to { background-color: $secondary-color; }
}
