@import-normalize;

@import './settings.scss';

body {
  color: $secondary-color;
  text-align: center;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}
