@import '../../settings.scss';

.MuiFormControlLabel-root {
  margin-left: 0 !important;
}

.bcg-img {
  width: 200px;
  border: 1px solid #d0d0d0;
}

.Mui-checked ~ span img {
  border: 3px solid $primary-color;
}

@media only screen and (max-width: 720px) {
  .bcg-img {
    margin-bottom: 5px;
  }
}
